.about {
    text-align: center;
    padding-bottom: 5em;
}

.about img {
    border-radius: 100px;
}

.statistics {
    background-color: #e0e0e0;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 3em;
}

.worker {
    padding-top: 4em;
}

.statistics img {
    padding-top: 3em;
}