@import url('https://fonts.googleapis.com/css?family=Comfortaa|Montserrat&display=swap');

.container-fluid {

}
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f2f2f2;
}
.container {

}
a {
    color: #f85c37;
}

mark {
    color: white;
    background: #ff78787a;
    border-bottom: white solid 1px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Comfortaa, sans-serif;
    color: #000000;
}

a:hover, a:focus {
    color: #7b7b7b;
    text-decoration: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.navbar {
    font-weight: 800;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 0;
}

.navbar-inverse {
    background: #2d2d2d;
    border-color: #2d2d2d;
}

.navbar-inverse .navbar-nav > .active > a {
    background-color: #ff7878;
    border-radius: 13px;
    padding-left: 17px;
    padding-right: 17px;
}

.navbar-inverse .navbar-brand {
    color: #999;
    font-weight: bolder;
    font-size: 22px;
}

#header {
    background: url(https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
    margin-top: 80px;
    padding-top: 40px;
    padding-bottom: 44px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;


    background-size: cover;
}
#header .container {
    padding-top: 7em;
    padding-bottom: 5em;
}

#header h1 {
    color: white;
    font-size: 35px;
}

#header h2 {
    color: white;
    font-size: 30px;
}

#header p {
    color: white;
    line-height: 2em;
    font-size: 20px;
}

#main .container {
    padding-top: 4em;
    padding-bottom: 4em;
}

#main .container .row .container {
    padding-top: 4em;
    padding-bottom: 0;
}

.fa-question-circle {
    font-size: 45px;
    color: #ff7878;
}
.fa-book {
    font-size: 45px;
    color: #ff7878;
}
.fa-asymmetrik {
    font-size: 45px;
    color: #ff7878;
}
.fa-wheelchair {
    font-size: 45px;
    color: #ff7878;
}
.fa-user-plus {
    margin-right: 10px;
    font-size: 20px;
    color: #ff7878;
}
.fa-door-open {
    margin-right: 10px;
    font-size: 20px;
    color: #ff7878;
}

#phone {
    background-color: #2d2d2d2c;
}

#phone .container {
    padding-top: 50px;
    padding-bottom: 15px;
}
/* .phone1 img:hover {
    -webkit-transform: rotateZ(20deg);
    -ms-transform: rotateZ(20deg);
    transform: rotateZ(20deg);
} */

