@import url('https://fonts.googleapis.com/css?family=Comfortaa|Montserrat&display=swap');

.container-fluid {

}
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f2f2f2;
}
.container {

}
a {
    color: #f85c37;
}

mark {
    color: white;
    background: #ff78787a;
    border-bottom: white solid 1px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Comfortaa, sans-serif;
    color: #000000;
}

a:hover, a:focus {
    color: #7b7b7b;
    text-decoration: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.navbar {
    font-weight: 800;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 0;
}


.navbar-inverse {
    background: #2d2d2de5;
    border-color: #ffffff8e;
}

.navbar-inverse .navbar-nav > .active > a {
    background-color: #ff7878;
    border-radius: 13px;
    padding-left: 17px;
    padding-right: 17px;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-inverse .navbar-brand {
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-size: 22px;
}
.navbar .navbar-toggle {
    background-color: rgba(255, 250, 250, 0.192);
}

.navbar .navbar-toggle:hover {
    background-color: #ff7878;
}

#header {
    background: url(https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
    padding-top: 40px;
    padding-bottom: 44px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;


    background-size: cover;
}
#header .container {
    padding-top: 7em;
    padding-bottom: 5em;
}

#header h1 {
    color: white;
    font-size: 35px;
}

#header h2 {
    color: white;
    font-size: 30px;
}

#header p {
    color: white;
    line-height: 2em;
    font-size: 20px;
}

#main .container {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 4em;
}

#main p {
    font-size: 17px;
}

#main .container .row .container {
    text-align: center;
    padding-top: 4em;
    padding-bottom: 0;
}

.fa-question-circle {
    font-size: 45px;
    color: #ff7878;
}
.fa-book {
    font-size: 45px;
    color: #ff7878;
}
.fa-asymmetrik {
    font-size: 45px;
    color: #ff7878;
}
.fa-wheelchair {
    font-size: 45px;
    color: #ff7878;
}
.fa-user-plus {
    margin-right: 10px;
    font-size: 20px;
    color: #ff7878;
}
.fa-door-open {
    margin-right: 10px;
    font-size: 20px;
    color: #ff7878;
}

#phone {
    background-color: #2d2d2d2c;
    text-align: center;
}

#phone .container {
    padding-top: 50px;
    padding-bottom: 15px;
}

#phone .text-center {
    padding-bottom: 1em;
}

.phone1 img {
    transition: all 0.5s ease;
}

.phone1 img:hover {
    transform: skew(-25deg, 25deg);
    transition: 0.7s;
}

.phone2 img {
    transition: all 0.5s ease;
}

.phone2 img:hover {
    transform: scale(1.1, 1.1);
    transition: 0.7s;
}

.phone3 img {
    transition: all 0.5s ease;
}

.phone3 img:hover {
    transform: skew(25deg, -25deg);
    transition: 0.7s;
}


#support {
    text-align: center;
}

#support h3 {
    padding-top: 30px;
}

#support p {
    padding-top: 20px;
    font-size: 18px;
    padding-bottom: 40px;
}

#awesome {
    text-align: center;
    background-color: #ebebeb;
}

#awesome h3 {
    padding-top: 30px;
}

#awesome img {
    padding-bottom: 20px
}

#storytellers {
    text-align: center;
    background-color: #ff7878;
    color: white;
}

#storytellers h3 {
    color: white;
    padding-top: 3em;
}

#storytellers p {
    padding-top: 1em;
    padding-bottom: 5em;
    font-size: 18px;
}

#social {
    text-align: center;
    background-color: #292929;
    padding-top: 60px;
    padding-bottom: 60px;
}

.fa-twitter {
    color: #bdbdbd;
    font-size: 50px;
}

.fa-twitter:hover {
    color: #ff7878;
}

.fa-facebook-f {
    color: #bdbdbd;
    font-size: 50px;
    margin-left: 1em;
    margin-right: 1em;
}

.fa-facebook-f:hover {
    color: #ff7878;
}

.fa-globe {
    color: #bdbdbd;
    font-size: 50px;
}

.fa-globe:hover {
    color: #ff7878;
}

#footer {
    background-color: #212121;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

#footer h5 {
    color: white;
}




